* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    z-index: 2;
}

body {
    width: 100%;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: #000000;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2c1ab8; 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #181052; 
  }

section {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

h2 {
    color: #2c1ab8;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    z-index: 3;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

h4 {
    color: lightgray;
    font-weight: lighter;
    margin: 20px;
    margin-bottom: 30px;
}

h3 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.shadow {
    box-shadow: inset 0px 0px 57px 97px #000000;
    background-color: #181052;
    margin: auto;
    width: 50vw;
    height: 50vh;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.background_card {
    background-color: rgba(129, 129, 129, 0.3);
    background-color: #2225428a;
    box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.19);
    display: inline-block;
    padding: 20px;
    width: 35vw;
    border-radius: 10px;
    align-self: center;
    margin-top: 50px;
    position: relative;
}

.tech_pic {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 25vh;
    z-index: 1;
}

#tech_pic_1 {
    height: 50vh;
}

.light {
    background: radial-gradient(rgba(100, 60, 255, 0.2)30%, rgba(255, 255, 255, 0)70%);
    width: 300px;
    height: 150vh;
    position: absolute;
    top: -75vh;
    left: -150px;
}

.white {
    background: radial-gradient(rgba(0, 0, 0, 0.3)30%, rgba(255, 255, 255, 0)70%);
}

.section_blue {
    background-color: #181052;
}

#sec_2 h2,
#sec_4 h2,
#sec_6 h2 {
    color: black;
}

p {
    color: white;
}

span {
    font-weight: bold;
}

#diplomes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}

.square {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

#fil_diplomes {
    background-color: black;
    width: 4px;
    height: calc(80% + 300px);
    position: absolute;
    left: 28px;
    top: -300px;
}

.point_text {
    display: flex;
    gap: 30px;
    align-items: center;
}

.arrow_group {
    display: flex;
    align-items: center;
    margin: 20px auto -40px auto;
}

.arrow_long {
    background-color: white;
    width: 150px;
    height: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrow_tip {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 0px solid transparent;
    border-left: 30px solid white;
}

.second_arrow {
    margin-top: 0;
}

.scroll {
    overflow-x: auto;
}

.cards_group_2 {
    display: flex;
    justify-content: space-around;
    width: 200vw;
    padding-bottom: 20px;
}

.cards_group_projects {
    width: calc(6 * (70vw + 100px))
}

.width_300 {
    width: 400vw;
}

.chart {
    flex: 4;
    display: flex;
    width: auto;
    justify-content: space-around;
    border-left: solid 4px white;
    border-bottom: solid 4px white;
    flex-direction: column;
}

.chart_item {
    width: 30px;
    height: 30px;
    background-color: #2c1ab8;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
}

.chart_legend {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card_skills {
    display: flex;
    height: 40vh;
    width: 100%;
    margin-top: 30px;
}

.chart_60 {
    width: 60%;
}

.chart_80 {
    width: 80%;
}

.chart_40 {
    width: 40%;
}

.logo_contact {
    width: 50px;
    margin: 20px;
    height: auto;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos p {
    text-align: center;
}

.hobbies_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.logo_hobbies {
    height: auto;
    width: 80px;
    margin-right: 20px;
}

.hobbies_card p {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    margin: 10px 0 5px 0;
}

input,
textarea {
    padding: 5px;
    color: #2c1ab8;
    font-weight: bold;
    border-radius: 10px;
}

.languages {
    display: flex;
    justify-content: space-around;
}

.project_description {
    margin: 20px 0;
    height: calc(39vh - 40px);
    text-align: justify;
}

.languages p {
    background-color: #2c1ab8;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.background_pic {
    width: 70vw;
    height: auto;
    margin: auto;
    z-index: 0;
    margin-top: -120px;
    display: none;
}

.hobbies_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background_card:hover{
    background-color: black;
    animation-name: anim_card;
    animation-duration: 0.5s;
    transform: scale(1.05) translateY(-10px);
}

.section_blue .background_card:hover{
    background-color: #181052;
}

h2:hover{
    text-decoration: underline white;
}

#links{
    position: absolute;
    right: 30px;
    top: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    width: auto;
    margin: 0;
}

#links a{
    text-decoration: none;
}

#links p{
    color: #2c1ab8;
}

.shadow:hover{
    animation-name: anim_shadow;
    animation-duration: 0.5s;
    transform: scale(1.1);
}

@keyframes anim_card {
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.05) translateY(-10px);
    }
}

@keyframes anim_shadow {
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

@media (max-width: 767px) {
    .background_card {
        width: 65vw;
    }

    .phone_hidden {
        display: none;
    }

    h4 {
        align-self: flex-end;
    }

    .cards_group {
        overflow-x: auto;
    }

    .cards_group .background_card, .cards_group .background_card_projects {
        width: 70vw;
    }

    .project_description {
        overflow-y: auto;
    }

    form {
        align-items: stretch;
    }

    .label_input{
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}

@media (min-width: 1025px) {
    .hidden_desktop {
        display: none;
    }

    .cards_group_2 {
        width: 100vw;
    }

    .cards_group_projects {
        width: calc(6 * (25vw + 100px))
    }

    .background_card {
        margin: 50px 30px 0 30px;
    }

    .label_input {
        width: 45%;
        padding: 10px 0;
    }

    textarea {
        width: 100%;
        margin: 0;
    }

    input {
        width: 95%;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 4rem;
    }

    .tech_pic {
        height: 40vh;
    }

    .hobbies_card {
        display: block;
        width: 15vw;
    }

    .hobbies_card img {
        width: 150px;
        margin-bottom: 20px;
    }

    .hobbies_card p {
        margin: 20px 0;
    }

    .hobbies_container {
        flex-direction: row;
    }

    .margin_top {
        margin: 150px 0 -60px 0;
    }

    .tech_2 {
        top: 0;
        left: 0;
        rotate: 180deg;
        height: 20vh;
    }

    #fil_diplomes {
        margin-left: 10.2vw;
    }

    #diplomes {
        padding-left: 29%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hidden_tablet {
        display: none;
    }

    .cards_group {
        overflow-x: scroll;
    }

    .cards_group_2 {
        width: 100vw;
    }

    .cards_group_projects {
        width: calc(6 * (35vw + 100px))
    }

    h4 {
        align-self: flex-end;
    }   

    .background_card {
        margin-top: 15vh;
    }

    .logo_contact {
        margin: 60px 0 20px 0;
    }

    .width_300 {
        width: 200vw;
    }

    form {
        align-items: stretch;
    }

    .label_input{
        display: flex;
        align-items: stretch;
        flex-direction: column;
        margin: 10px;
    }

    textarea {
        margin: 0 10px 10px 10px;
    }

    .tech_2{
        left: 0;
        transform: scaleX(-1);
        height: 15vh;
    }

    .hobbies_container{
        margin-top: 15vh;
    }

    .hobbies_container .background_card{
        margin: 30px 0;
    }
}